@model lab11.Models.Algorithms
<form asp-controller="Task" asp-action="Task3">
    <div class="m-4" id="task3">
        <h6>
            3. Реалізувати паралельний обчислювальний алгоритм лінійної редукції   <br>
            1-го порядку.
        </h6>

        <button class="btn btn-secondary mt-4">Запустити</button>
    </div>

    @await Html.PartialAsync("Index")
    </form>