@model lab11.Models.Algorithms
<form asp-controller="Task" asp-action="Task2">
    <div class="m-4" id="task2">
        <h6>
            2.  Модифікувати розроблену в першому завданні програму відповідно до  <br>
            модифікованої каскадної схеми.
        </h6>

        <button class="btn btn-secondary mt-4">Запустити</button>
    </div>
    @await Html.PartialAsync("Index")
</form>