@model lab11.Models.Algorithms  
<form asp-controller="Task" asp-action="Task1">
    <div id="task1">
        <h6>
            1.	Розробити багатопотокову програму, яка б на основі каскадної схеми <br>
            обчислювала скалярний добуток E(ai*bi) [i,n] .
            Значення :
        </h6>
        <table>
            <tr>
                <th>N</th>
                <th>ai</th>
                <th>bi</th>
                <th>n для 1-го завд</th>
                <th>n для 2-го завд</th>
            </tr>
            <tr>
                <td>1</td>
                <td><p>((-1)^(i+1) *(i+1)) / 1.25*(i^2.5))</p></td>
                <td><p>cos(3^-10*i)) - ((2^(i+2))/(i+2)!)</p></td>
                <td><p>16</p></td>
                <td><p>32</p></td>
            </tr>
        </table>
        <button class="btn btn-secondary mt-4" type="submit">Запустити</button>
    </div>

    @await Html.PartialAsync("Index", Model)
</form>